
.container {
    display: flex;
    flex-direction: row;
  }
  .chatContainer {
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100vh;
    background-color: #212020;
    color: white;
  }
  .header {
    padding: 20px;
    text-align: center;
  }
  .messageArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: large;
    font-weight: 600;
    height: 85%;
    padding-top:20%;
  }

  .messageArea img{
    border: 0.5px solid grey;
    border-radius: 100%;
  }

  .messageArea p{
    color: white;
    padding-top: 10px;
  }

  .inputArea {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    position: absolute;
    top: 92%;
  }
  .inputArea input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2f2f2f;
    border: 0.5px solid grey;
  }
  .inputArea button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .termsAndCondition{
    color: white;
    font-size: 11px;
    padding-left: 32%;
    padding-top: 10px;
    position: absolute;
    top: 96.5%;
  }
  .inputArea button:hover {
  }

  .navbarContainer {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100vh;
    background-color: #161617;
  }
  
  .newChat {
    display: flex;
    font-size: small;
    align-items: center;
    padding: 9px;
    margin: 15px;
    border-radius: 8px;
    color: white;
  }
  .newChat:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .newChat img[alt='GPT Image'] {
    border: 0.5px solid white;
    border-radius: 100%;
  }

  .signUpAndLogin{
    position: absolute;
    bottom: 0;
    width: 16%;
    display: flex;
    flex-direction: column;
    padding: 9px;
    margin: 15px;
  }

  .heading{
    color: white;
    font-size: small;
    font-weight: 600;
  }

  .content{
    color: #a0a6aa;
    font-size: small;
    padding-bottom: 15px
  }

  .signUpButtons{
    color: white;
    font-weight: 600;
    font-size: small;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .loginButtons{
    color: white;
    font-weight: 600;
    font-size: small;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
  }

  .newChatMainText{
    display: flex;
    font-size: small;
    align-items: center;
    border-radius: 5px;
    color: white;
    width: 100%;
  }

  .newChatMainImage {
  }

  .chatHeader{
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-weight: 600;
    justify-content: space-between;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212020;
    color: white;
  }

.dropdown{

}

.dropdown img[alt='Dropdown']{
  border-radius: 100%;
}

.dropdown img:hover{
  cursor: pointer;
}

.dropdownItems{
  position: absolute;
  padding: 7px;
  width: 290px;
  margin-top: 8px;
  margin-left: -260px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

.dropdownItem{
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: white;
  font-size: small;
  font-weight: 400;
}

.dropdownItem img{
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.dropdownItemText{;
}